*{
    margin:  0px;
    padding:  0px;
}


#navbar{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    color : white;
    text-decoration: none;

}